$gutter-width: 20px;
$max-width: 1000px + $gutter-width * 2;

$header-height: 50px;

$header-spacing--mobile: 15px;
$header-spacing--desktop: 20px;

$z-index--nav-mobile: 10;
$z-index--header-mobile: 100;

$font-size--content: 16px;
$font-size--meta: 14px;

$font-size--menu-item: 24px;
$font-size--menu-item-desktop: 18px;

$font-size--page-title: 30px;

$font-size--heading-1: 36px;
