@use 'colors';

:root[data-theme='light'] {
  --color-background: #{colors.$background--light};
  --color-text: #{colors.$text--light};
  --color-heading: #{colors.$heading--light};
  --color-meta: #{colors.$meta--light};
  --color-nav-spacer: #{colors.$nav-spacer--light};
}

:root[data-theme='dark'] {
  --color-background: #{colors.$background--dark};
  --color-text: #{colors.$text--dark};
  --color-heading: #{colors.$heading--dark};
  --color-meta: #{colors.$meta--dark};
  --color-nav-spacer: #{colors.$nav-spacer--dark};
}

[data-theme-transitions-enabled='true'] * {
  transition-property: background-color, color, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
