@use '../constants';
@use '../themes';

.header {
  $this: &;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: constants.$header-height;

  border-bottom: 1px var(--color-nav-spacer) solid;
  padding-bottom: constants.$gutter-width;

  @include themes.use-transitions(border-bottom-color);

  &--home {
    border: none;
  }

  &__title {
    font-weight: 700;
    font-size: constants.$font-size--page-title;

    color: var(--color-heading);
    text-decoration: none;

    z-index: constants.$z-index--header-mobile;

    @include themes.use-transitions(color);

    &:hover, &:visited, &:link, &:active {
      text-decoration: none;
    }

    #{$this}--home & {
      display: none;
    }
  }
}
