// basic styles for fontawesome icons as taken from
// https://fontawesome.com/how-to-use/on-the-web/advanced/svg-symbols

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentColor;
}
