@use '../themes';

.landing-link {
  width: 40px;
  height: 40px;

  font-size: 40px;
  line-height: 1;

  color: var(--color-heading);

  @include themes.use-transitions(color);

  & .icon {
    // this ensures we can catch the proper element instead
    // of the svg icon in the click event handler
    pointer-events: none;
  }
}
