@use '../breakpoints';
@use '../themes';

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  &__title {
    font-size: 64px;
    font-weight: 900;

    margin-bottom: 0.1em;

    color: var(--color-heading);

    @include themes.use-transitions(color);

    @include breakpoints.media-min-md {
      font-size: 96px;
    }
  }

  &__subtitle {
    font-size: 24px;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-right: 15px;

    &:last-of-type {
      margin: 0;
    }
  }
}
