@use '../breakpoints';
@use '../constants';

.language-switcher {
  display: flex;
  flex-direction: row;

  &__item {
    &--active {
      font-weight: 900;

      @include breakpoints.media-min-md {
        font-weight: 700;
      }
    }

  }

  &__spacer {
    font-weight: 700;
    opacity: 0.3;

    padding: 0 5px;
  }
}
