@use '../breakpoints';
@use '../constants';

.nav {
  $this: '.nav';

  @include breakpoints.media-max-md {
    position: absolute;

    left: 0;
    top: 0;

    transform: translateY(-100vh);
    transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);

    &--active {
      transform: translateY(0);
    }
  }

  @include breakpoints.media-min-md {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-left: auto;
  }

  &__container {
    @include breakpoints.media-max-md {
      width: 100vw;
      min-height: calc(100vh - 2 * constants.$gutter-width);

      background-color: var(--color-background);

      padding-top: constants.$header-height + 2 * constants.$gutter-width;

      z-index: constants.$z-index--nav-mobile;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    list-style-type: none;

    @include breakpoints.media-max-md {
      padding: constants.$gutter-width;
      border-bottom: 1px var(--color-nav-spacer) solid;
    }

    @include breakpoints.media-min-md {
      flex-direction: row;
    }
  }

  &__item {
    font-size: constants.$font-size--menu-item;
    font-weight: 400;

    &--active {
      font-weight: 700;
    }

    @include breakpoints.media-max-md {
      margin-bottom: constants.$header-spacing--mobile;
    }

    @include breakpoints.media-min-md {
      font-size: constants.$font-size--menu-item-desktop;
      margin-left: constants.$header-spacing--desktop;
    }

    & a {
      color: var(--color-text);

      &:hover, &:visited, &:link, &:active {
        text-decoration: none;
      }
    }
  }
}
