@use '../constants';

.page {
  max-width: constants.$max-width;
  width: 100%;

  margin: 0 auto;
  padding: constants.$gutter-width;
  box-sizing: border-box;

  &__row {
    margin-bottom: constants.$gutter-width;
  }
}
