@use '../constants';

.page {
  box-sizing: border-box;

  &__row {
    max-width: constants.$max-width;

    padding: 0 constants.$gutter-width;

    margin: 0 auto;
    margin-bottom: constants.$gutter-width;

    &--fullwidth {
      max-width: initial;
    }

    &--header {
      margin-top: constants.$gutter-width;
      margin-bottom: constants.$gutter-width * 2;
    }
  }
}
