@use '../breakpoints';
@use '../constants';
@use '../themes';

.post {
  &__title {
    font-size: constants.$font-size--heading-1;
    color: var(--color-heading);

    margin-bottom: constants.$gutter-width;

    @include themes.use-transitions(color);
  }

  &__meta {
    margin-bottom: constants.$gutter-width * 2;
  }

  &__read-more {
    margin-top: constants.$gutter-width;
    font-weight: 700;
  }
}
