@use '../breakpoints';
@use '../constants';

.post {
  &__title {
    font-size: constants.$font-size--heading-1;
    color: var(--color-heading);

    margin-bottom: constants.$gutter-width;
  }

  &__meta {
    margin-bottom: constants.$gutter-width * 2;
  }
}
