@use '../breakpoints';
@use '../constants';
@use '../themes';

.theme-switcher {
  display: flex;
  flex-direction: row;

  font-size: constants.$font-size--menu-item;
  align-items: center;

  &__icon {
    cursor: pointer;
  }

  &__slider-body {
    position: relative;

    width: 40px;
    height: 15px;

    margin: 0 5px;

    border: 2px var(--color-text) solid;
    border-radius: 15px;
    cursor: pointer;

    @include themes.use-transitions(border);
  }

  &__slider-toggle {
    position: absolute;
    top: -5px;
    left: -5px;

    width: 25px;
    height: 25px;

    border-radius: 25px;

    background-color: var(--color-text);

    @include themes.use-transitions(transform, background-color);

    :root[data-theme='light'] & {
      transform: translate(0);
    }

    :root[data-theme='dark'] & {
      transform: translateX(25px);
    }
  }
}
