{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="{{ $title }}">

        {{ $style := resources.Get "scss/main.scss" | resources.ToCSS (dict "transpiler" "dartsass") | resources.Minify | resources.Fingerprint }}

        <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" integrity="sha384-M86HUGbBFILBBZ9ykMAbT3nVb0+2C7yZlF8X2CiKNpDOQjKroMJqIeGZ/Le8N2Qp" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity}}" />

        <title>{{ $title }}</title>
    </head>
    <body>
        <div class="page">
            {{- partial "header.html" . -}}
            {{- block "content" . }}
            {{- end }}
            {{- partial "footer.html" . -}}
            {{- partial "scripts.html" . -}}
        </div>
    </body>
</html>
