{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="{{ $title }}">

        {{ $style := resources.Get "scss/main.scss" | resources.ToCSS (dict "transpiler" "dartsass") | resources.Minify | resources.Fingerprint }}

        <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity}}" />

        <title>{{ $title }}</title>
    </head>
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}
        {{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>
