<li class="nav__item language-switcher">
    {{ range $i, $translation := .Site.Home.AllTranslations }}
        {{- $active := eq .Lang $.Site.Language.Lang -}}
        {{- $tag := cond $active "span" "a" -}}
        {{ printf "<%s" $tag | safeHTML }}
            class="language-switcher__item {{ if $active }}language-switcher__item--active{{ end }}"
            {{ if (not $active) }}
                href="{{ .Permalink }}"
            {{ end }}
        >
            {{ upper .Language.Lang }}
        {{ printf "</%s>" $tag | safeHTML }}
        {{ if not (eq (add $i 1) (len $.Site.Home.AllTranslations)) }}
            <span class="language-switcher__spacer">/</span>
        {{ end }}
    {{ end }}
</li>
